body {
	font-family: 'Oswald', sans-serif;
	color: black;
}

h1 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
    line-height: 24px;
}

#container {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.navbar, .navbar-default {
    height: 80px;
}

#mobileLogoVersion {
	display: none;
}

.container-fluid {
    width: 90%;
    margin-top: 15px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
     border-color: transparent; 
}

.navbar-nav {
    float: right;
    margin: 0;
    font-size: 18px;
}

#navbar-brand {
    margin-right: 16px;
}

.iconsSize {
    width: 40px;
    height: 40px;
    margin-top: -10px;
}

#iconsSize {
    width: 49px;
    height: 46px;
    margin-top: 2px;
    margin-right: 10px;
    float: right;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color: transparent;
}

.navbar-default {
    /*background-color: #36acd6;*/
    border-color: transparent;
    background: -moz-linear-gradient(100% 100% 180deg, #36b4e4, #6fb342);
    background: -webkit-gradient(linear, right top, left bottom, from(#36b4e4), to(#6fb342));
}

#firstBackground {
	width: 100%;
	height: 750px;
	margin-top: 80px;
	background-position: center;
	background-size: cover;
	position: relative;
	background-image: url("../img/gallery_fridge_banner.png");
}

#firstBackgroundTextBottom {
    width: 76%;
    height: 40px;
    text-align: center;
    margin-top: 668px;
    margin-left: 12%;
    position: absolute;
    color: white;
}

#fridgeLogoLeft {
    width: 180px;
    height: 164px;
    margin-top: 30px;
    position: absolute;
    margin-left: 3%;
}

#fridgeLogoSize {
	width: 100%;
	height: 100%;
}

#ticketLogoRight {
    width: 26%;
    height: 180px;
    position: fixed;
    margin-left: 74%;
    margin-top: 24px;
/*    z-index:9999;*/
}

#ticketLogoRightSize {
	width: 100%;
	height: 100%;
}

#firstBackgroundImage {
    width: 100%;
    height: 540px;
}

#firstBackgroundImageLeft {
    width: 50%;
    height: 540px;
    float: left;
    background-position: center;
    background-size: cover;
    background-image: url("../img/2016-02.png");
}

#firstBackgroundImageRight {
    width: 50%;
    height: 540px;
    float: left;
    background-position: center;
    background-size: cover;
    background-image: url("../img/2016.png");
}

#secondBackgroundImage {
    width: 100%;
    height: 540px;
}

#secondBackgroundImageLeft {
    width: 50%;
    height: 540px;
    float: left;
    background-position: center;
    background-size: cover;
    background-image: url("../img/2015.png");
}

#secondBackgroundImageRight {
    width: 50%;
    height: 540px;
    float: left;
    background-position: center;
    background-size: cover;
    background-image: url("../img/2014.png");
}

#thirdBackgroundImage {
    width: 100%;
    height: 540px;
}

#thirdBackgroundImageLeft {
    width: 50%;
    height: 540px;
    float: left;
    background-position: center;
    background-size: cover;
    background-image: url("../img/2013.png");
}

#thirdBackgroundTextRight {
    width: 50%;
    height: 540px;
    float: left;
    background-color: #36acd6
}

#thirdBackgroundTextRightSize {
    /* font-size: 20px; */
    width: 75%;
    height: 250px;
    margin-left: 12.5%;
    margin-top: 167.5px;
}

.imgSize {
    width: 100%;
    height: 500px;
}

#thirdContainer {
	width: 100%;
	height: 500px;
	background-color: black;
	margin-top: -1px;
}

#thirdContainerMap {
    width: 54%;
    height: 496px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/mappe.png);
    margin-left: 23%;
}

#footerBackground {
    width: 100%;
    margin-top: -1px;
    height: 1000px;
    background-size: cover;
    background-image: url(../img/fridge_footer_banner.png);
    background-position: center;
}

#footerBackgroundText {
    width: 66%;
    height: 100px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 17%;
    margin-top: 70px;
}

#followUsIcons {
    margin-left: 46.5%;
    width: 28%;
    margin-top: 390px;
    position: absolute;
    height: 30px;
}

#copyright {
    width: 30%;
    height: 20px;
    color: black;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 6%;
    position: absolute;
}

#agbBottom {
    margin-left: 78%;
    margin-top: 30px;
    font-size: 18px;
    position: absolute;
    height: 25px;
}

#agbBottomUl {
    display: inline-flex;
    color: black;
    list-style: none;
    text-decoration: none;
}

.aColor {
	color: black;
	margin-left: 10px;
}

.trattino {
    margin: -2px 0 10px;
    margin-left: 10px;
}

#lightBluFooter {
	background: -webkit-gradient(linear, right top, left bottom, from(#36b4e4), to(#6fb342));
	height: 80px;
}

@media only screen and (min-width: 1441px) {

.iconsSize {
    width: 30px;
    height: 30px;
    margin-top: -4px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0;
    margin-left: -46px;
}

.navbar-nav {
    float: right;
    margin: 0;
    font-size: 18px;
    margin-right: -40px;
}

#firstBackground {
    width: 100%;
    height: 1160px;
    margin-top: 80px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(../img/gallery_fridge_banner.png);
}

#firstBackgroundTextBottom {
    width: 46%;
    height: 140px;
    text-align: center;
    margin-top: 1092px;
    margin-left: 27%;
    position: absolute;
    color: white;
}

#fridgeLogoLeft {
    width: 165px;
    height: 135px;
    margin-top: 20px;
    position: absolute;
    margin-left: 2%;
}

#fridgeLogoSize {
	width: 100%;
	height: 100%;
}

#ticketLogoRight {
    width: 395px;
    height: 210px;
    position: fixed;
    margin-left: 85%;
    margin-top: -10px;
}

#firstBackgroundImage {
    width: 100%;
    height: 960px;
}

#firstBackgroundImageLeft {
    width: 50%;
    height: 960px;
    float: left;
}

#firstBackgroundImageRight {
    width: 50%;
    height: 960px;
    float: left;
}

#secondBackgroundImage {
    width: 100%;
    height: 960px;
}

#secondBackgroundImageLeft {
    width: 50%;
    height: 960px;
    float: left;
}

#secondBackgroundImageRight {
    width: 50%;
    height: 960px;
    float: left;
}

#thirdBackgroundImage {
    width: 100%;
    height: 960px;
}

#thirdBackgroundImageLeft {
    width: 50%;
    height: 960px;
    float: left;
}

#thirdBackgroundTextRight {
    width: 50%;
    height: 960px;
    float: left;
    background-color: #36acd6
}

#thirdBackgroundTextRightSize {
    /* font-size: 20px; */
    width: 75%;
    height: 115px;
    margin-left: 13.5%;
    margin-top: 420.5px;
}

.imgSize {
    width: 100%;
    height: 650px;
}

#thirdContainer {
    width: 100%;
    height: 1240px;
    background-color: black;
}

#thirdContainerMap {
    width: 100%;
    height: 1420px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/mappe.png);
    margin-left: 0%;
    /* margin-top: 55px; */
    position: absolute;
}

#followUsIcons {
    margin-left: 48%;
    margin-top: 650px;
    position: absolute;
    width: 4%;
    height: 58px;
}

#footerBackground {
    width: 100%;
    height: 1640px;
    background-size: cover;
    background-image: url(../img/fridge_footer_banner.png);
    background-position: center;
}

#footerBackgroundText {
    width: 66%;
    height: 100px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 17%;
    margin-top: 136px;
}

#copyright {
    width: 30%;
    height: 20px;
    color: black;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 4%;
    position: absolute;
}

#agbBottom {
    margin-left: 86.5%;
    margin-top: 30px;
    font-size: 18px;
    position: absolute;
    height: 25px;
}



}

@media only screen and (max-width: 1024px) {

h1 {
    font-size: 19px;
}

h4 {
	font-size: 12px;
}

#firstBackground {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(../img/gallery_fridge_banner.png);
}

#firstBackgroundTextBottom {
    width: 76%;
    height: 40px;
    text-align: center;
    margin-top: 402px;
    margin-left: 12%;
    position: absolute;
    color: white;
}

#fridgeLogoLeft {
    width: 122px;
    height: 122px;
    margin-top: 24px;
    position: absolute;
    margin-left: 4%;
}

#fridgeLogoSize {
	width: 100%;
	height: 100%;
}

#ticketLogoRight {
    width: 26%;
    height: 110px;
    position: fixed;
    margin-left: 74%;
    margin-top: 30px;
}

#firstBackgroundImage {
    width: 100%;
    height: 450px;
}

#firstBackgroundImageLeft {
    width: 50%;
    height: 450px;
    float: left;
}

#firstBackgroundImageRight {
    width: 50%;
    height: 450px;
    float: left;
}

#secondBackgroundImage {
    width: 100%;
    height: 450px;
}

#secondBackgroundImageLeft {
    width: 50%;
    height: 450px;
    float: left;
}

#secondBackgroundImageRight {
    width: 50%;
    height: 450px;
    float: left;
}

#thirdBackgroundImage {
    width: 100%;
    height: 450px;
}

#thirdBackgroundImageLeft {
    width: 50%;
    height: 450px;
}

#thirdBackgroundTextRight {
    width: 50%;
    height: 450px;
}

#thirdBackgroundTextRightSize {
    /* font-size: 20px; */
    width: 90%;
    height: 150px;
    margin-left: 5%;
    margin-top: 175px;
}

#thirdContainer {
    width: 100%;
    height: 420px;
    background-color: black;
    margin-top: -34px;
}

#thirdContainerMap {
    width: 76%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/mappe.png);
    margin-left: 12%;
    margin-top: 106px;
    position: absolute;
}

#footerBackground {
    width: 100%;
    height: 714px;
    background-size: cover;
    background-image: url(../img/fridge_footer_banner.png);
    background-position: center;
}

#footerBackgroundText {
    width: 66%;
    height: 100px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 17%;
    margin-top: 10px;
}

#followUsIcons {
    margin-left: 45%;
    width: 30%;
    margin-top: 266px;
    position: absolute;
    height: 30px;
}

#copyright {
    width: 30%;
    height: 20px;
    color: black;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 6%;
    position: absolute;
}

#agbBottom {
    margin-left: 71%;
    margin-top: 30px;
    font-size: 18px;
    position: absolute;
    height: 25px;
}

.imgSize {
    width: 100%;
    height: 450px;
}

}

@media only screen and (max-width: 768px) {

h1 {
    font-size: 14px;
}

.navbar-nav {
    float: right;
    margin: 0;
    font-size: 14px;
}

#iconsSize {
    width: 30px;
    height: 30px;
}

.iconsSize {
    width: 30px;
    height: 30px;
}

.navbar, .navbar-default {
    height: 65px;
}

.navbar-header {
    height: 40px;
    margin-top: 0.5%;
}

.container-fluid {
    width: 90%;
    margin-top: 8px;
}

#firstBackground {
    width: 100%;
    height: 450px;
    margin-top: 65px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(../img/gallery_fridge_banner.png);
}

#firstBackgroundTextBottom {
    width: 95%;
    height: 160px;
    text-align: center;
    margin-top: 388px;
    margin-left: 2.5%;
    position: absolute;
    color: white;
}

#fridgeLogoLeft {
    width: 100px;
    height: 100px;
    margin-top: 40px;
    position: absolute;
    margin-left: 4%;
}

#fridgeLogoSize {
	width: 100%;
	height: 100%;
}

#followUsIcons {
    margin-left: 43.5%;
    width: 13%;
    margin-top: 186px;
    position: absolute;
}

#firstBackgroundImage {
    width: 100%;
    height: 350px;
}

#firstBackgroundImageLeft {
    width: 50%;
    height: 350px;
    float: left;
}

#firstBackgroundImageRight {
    width: 50%;
    height: 350px;
    float: left;
}

#secondBackgroundImage {
    width: 100%;
    height: 350px;
}

#secondBackgroundImageLeft {
    width: 50%;
    height: 350px;
    float: left;
}

#secondBackgroundImageRight {
    width: 50%;
    height: 350px;
    float: left;
}

#thirdBackgroundImage {
    width: 100%;
    height: 350px;
}

#thirdBackgroundImageLeft {
    width: 50%;
    height: 350px;
    float: left;
}

#thirdBackgroundTextRight {
    width: 50%;
    height: 350px;
    float: left;
    background-color: #36acd6
}

#thirdBackgroundTextRightSize {
    /* font-size: 20px; */
    width: 90%;
    height: 110px;
    margin-left: 5%;
    margin-top: 120px;
}

.imgSize {
    width: 100%;
    height: 350px;
}

#thirdContainerMap {
    width: 83%;
    height: 392px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/mappe.png);
    margin-left: 8.5%;
    margin-top: 35px;
}

#agbBottom {
    margin-left: 68%;
    margin-top: 23.5px;
    font-size: 14px;
    position: absolute;
    height: 18px;
}

#copyright {
    width: 30%;
    height: 20px;
    color: black;
    font-size: 14px;
    margin-top: 24.5px;
    margin-left: 7%;
    position: absolute;
}

#footerBackground {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-image: url(../img/fridge_footer_banner.png);
    background-position: center;
}

#footerBackgroundText {
    width: 83%;
    height: 110px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 8.5%;
    margin-top: -13px;
}

#lightBluFooter {
    background-color: #36acd6;
    height: 65px;
}

}

@media only screen and (max-width: 425px) {

h1 {
    font-size: 12px;
}

h4 {
	font-size: 10px;
}

#navbar-brand {
	margin-right: 30px;
}

#iconsSize {
    width: 40px;
    margin-top: 4px;
    height: 40px;
}

.navbar-brand {
	display: none;
}

#fridgeLogoSize {
	display: none;
}

#mobileLogoVersion {
	display: initial;
}

.navbar-default .navbar-toggle {
    border-color: black;
    float: left;
    margin-left: 15px;
    margin-top: 6px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-top: 14px;
    float: left;
    margin-left: -66px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
     background-color: transparent; 
}

.nav>li {
    position: relative;
    display: block;
    margin-top: -12px;
    background-color: #6fb342;
    width: 112%;
    margin-left: -15%;
    text-align: center;
}

.navbar-nav {
    float: left;
    margin: 0;
    margin-top: 12px;
    margin-right: -8px;
    font-size: 16px;
}

.container-fluid {
    width: 100%;
    margin-top: 8px;
}

#ticketLogoRight {
    width: 127px;
    height: 80px;
    position: fixed;
    margin-left: 62%;
    margin-top: 20px;
}

#fridgeLogoLeft {
    width: 80px;
    height: 80px;
    margin-top: 24px;
    position: absolute;
    margin-left: 4%;
}

#firstBackground {
    width: 100%;
    height: 240px;
    margin-top: 65px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(../img/gallery_fridge_banner.png);
}

#firstBackgroundTextBottom {
    width: 95%;
    height: 160px;
    text-align: center;
    margin-top: 196px;
    margin-left: 2.5%;
    position: absolute;
    color: white;
}

#ticketLogoRight {
    width: 127px;
    height: 80px;
    position: fixed;
    margin-left: 70%;
    margin-top: 20px;
}

#firstBackgroundImage {
    width: 100%;
    height: 700px;
}

#firstBackgroundImageLeft {
    width: 100%;
    height: 350px;
    float: left;
}

#firstBackgroundImageRight {
    width: 100%;
    height: 350px;
    float: left;
}

#secondBackgroundImage {
    width: 100%;
    height: 700px;
}

#secondBackgroundImageLeft {
    width: 100%;
    height: 350px;
    float: left;
}

#secondBackgroundImageRight {
    width: 100%;
    height: 350px;
    float: left;
}

#thirdBackgroundImage {
    width: 100%;
    height: 700px;
}

#thirdBackgroundImageLeft {
    width: 100%;
    height: 350px;
    float: left;
}

#thirdBackgroundTextRight {
    width: 100%;
    height: 350px;
    float: left;
    background-color: #36acd6
}

#thirdBackgroundTextRightSize {
    /* font-size: 20px; */
    width: 80%;
    height: 110px;
    margin-left: 10%;
    margin-top: 120px;
}

.imgSize {
    width: 100%;
    height: 500px;
}

#thirdContainer {
    width: 100%;
    height: 400px;
    background-color: black;
    margin-top: -35px;
}

#thirdContainerMap {
    width: 96%;
    height: 302px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/mappe.png);
    margin-left: 2%;
    margin-top: 35px;
    position: absolute;
}

#footerBackground {
    width: 100%;
    height: 310px;
    background-size: cover;
    background-image: url(../img/fridge_footer_banner.png);
    background-position: center;
}

#footerBackgroundText {
    width: 83%;
    height: 110px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 8.5%;
    margin-top: -66px;
}

#followUsIcons {
    margin-left: 42%;
    width: 22%;
    margin-top: 120px;
    position: absolute;
}

.iconsSize {
    width: 30px;
    height: 30px;
    margin-top: -4px;
    margin-right: -24px;
}

#agbBottom {
    margin-left: 59%;
    margin-top: 27px;
    font-size: 12px;
    position: absolute;
    height: 25px;
}

#copyright {
    width: 32%;
    height: 20px;
    color: black;
    font-size: 12px;
    margin-top: 24.5px;
    margin-left: 3%;
    position: absolute;
}


}

@media only screen and (max-width: 375px) {

#agbBottom {
    margin-left: 53%;
    margin-top: 27px;
    font-size: 12px;
    position: absolute;
    height: 25px;
}

#footerBackgroundText {
    width: 91%;
    height: 110px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 4.5%;
    margin-top: -66px;
}

#secondBackgroundInsideCenter {
    width: 100%;
    height: 280px;
    float: left;
    margin-top: 163px;
}

#firstBackgroundTextBottom {
    width: 95%;
    height: 160px;
    text-align: center;
    margin-top: 190px;
    margin-left: 2.5%;
    position: absolute;
    color: white;
}

#firstBackgroundImage {
    width: 100%;
    height: 700px;
}

#firstBackgroundImageLeft {
    width: 100%;
    height: 350px;
    float: left;
}

#firstBackgroundImageRight {
    width: 100%;
    height: 350px;
    float: left;
}

#secondBackgroundImage {
    width: 100%;
    height: 700px;
}

#secondBackgroundImageLeft {
    width: 100%;
    height: 350px;
    float: left;
}

#secondBackgroundImageRight {
    width: 100%;
    height: 350px;
    float: left;
}

#thirdBackgroundImage {
    width: 100%;
    height: 700px;
}

#thirdBackgroundImageLeft {
    width: 100%;
    height: 350px;
    float: left;
}

#thirdBackgroundTextRight {
    width: 100%;
    height: 350px;
    float: left;
    background-color: #36acd6
}

#thirdBackgroundTextRightSize {
    /* font-size: 20px; */
    width: 80%;
    height: 110px;
    margin-left: 10%;
    margin-top: 124px;
}

.imgSize {
    width: 100%;
    height: 350px;
}

#copyright {
    width: 36%;
    height: 20px;
    color: black;
    font-size: 12px;
    margin-top: 24.5px;
    margin-left: 3%;
    position: absolute;
}


}

@media only screen and (max-width: 320px) {

h4 {
	font-size: 9px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-top: 15px;
    float: left;
    margin-left: -75px;
}

.navbar-default .navbar-toggle {
    border-color: black;
    margin-top: 7px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
     background-color: transparent; 
}

.nav>li {
    position: relative;
    display: block;
    margin-top: -12px;
    background-color: #6fb342;
    width: 113%;
    margin-left: -6%;
    text-align: center;
}

#firstBackgroundTextBottom {
    width: 95%;
    height: 178px;
    /* text-align: center; */
    margin-top: 194px;
    margin-left: 2.5%;
    position: absolute;
    color: white;
}

#thirdBackgroundTextRightSize {
    /* font-size: 20px; */
    width: 91%;
    height: 110px;
    margin-left: 4.5%;
    margin-top: 124px;
}

#thirdContainer {
    width: 100%;
    height: 369px;
    background-color: black;
    margin-top: -35px;
}

#thirdContainerMap {
    width: 98%;
    height: 269px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/mappe.png);
    margin-left: 1%;
    margin-top: 40px;
    position: absolute;
}

#footerBackgroundText {
    width: 91%;
    height: 110px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 4.5%;
    margin-top: -96px;
}

#copyright {
    width: 36%;
    height: 20px;
    color: black;
    font-size: 10px;
    margin-top: 27.5px;
    margin-left: 4%;
    position: absolute;
}

#agbBottom {
    margin-left: 45%;
    margin-top: 27px;
    font-size: 12px;
    position: absolute;
    height: 25px;
}

#followUsIcons {
    margin-left: 39%;
    width: 22%;
    margin-top: 120px;
    position: absolute;
}


}







