body {
	font-family: 'Oswald', sans-serif;
	color: black;
}

h1:hover {
    background-color: white;
}

h4 {
    font-size: 18px;
    line-height: 24px;
}

iframe {
    width: 100%;
    border: 0;
    height: 386px;
}

/*p{
    background-color: white;
}*/

#container {
/*	height: 100%;
	width: 100%;*/
	margin: 0 auto;
	position: relative;
}

.navbar, .navbar-default {
    height: 80px;
}

#mobileLogoVersion {
	display: none;
}

.container-fluid {
    width: 90%;
    margin-top: 15px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
     border-color: transparent; 
}

.navbar-nav {
    float: right;
    margin: 0;
    margin-right: 0px;
    font-size: 16px;
}

.iconsSize {
    width: 30px;
    height: 30px;
    margin-top: -4px;
}

#iconsSize {
    width: 30px;
    height: 30px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color: transparent;
}

.navbar-default {
    /*background-color: #36acd6;*/
    border-color: transparent;
    background: -moz-linear-gradient(100% 100% 180deg, #36b4e4, #6fb342);
    background: -webkit-gradient(linear, right top, left bottom, from(#36b4e4), to(#6fb342));
}

#firstBackground {
	width: 100%;
	height: 750px;
	margin-top: 80px;
	background-position: center;
	background-size: cover;
	position: relative;
	background-image: url("../img/infos_fridge_banner.png");
}

#firstBackgroundTextBottom {
    width: 76%;
    height: 141px;
    text-align: center;
    margin-top: 686px;
    margin-left: 12%;
    position: absolute;
    color: white;
}

#fridgeLogoLeft {
    width: 175px;
    height: 145px;
    margin-top: 10px;
    position: absolute;
    margin-left: 4%;
}

#fridgeLogoSize {
	width: 100%;
	height: 100%;
}

#ticketLogoRight {
    width: 319px;
    height: 136px;
    position: fixed;
    margin-left: 78%;
    margin-top: -10px;
    z-index: 9999;
}

#ticketLogoRightSize {
	width: 100%;
	height: 100%;
}

#secondContainer {
    width: 100%;
    height: 700px;
    background-color: black;
    margin-top: -20px;
}

#secondContainerList{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    background-color: #36b4e4;
    font-size: 34px;
}


#ss_menu {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: -178px;
    position: relative;
}

.ss_button {
    background-color: #36b4e4;
    border: 1px solid black;
    cursor: pointer;
    padding: 25px;
    color: black;
    font-size: 16px;
}
    
.ss_content {
    background-color: white;
    display: none;
    padding: 10px;
    text-align: left;
}

#imgFirstList {
    width: 100%;
    height: 313px;
    background-image: url(../img/insideInfoDiv.jpg);
    background-position: center;
    background-size: cover;
}

#textPresse {
    width: 90%;
    background-color: white;
    height: 300px;
    margin-top: -30px;
    margin-left: 5%;
    position: absolute;
    text-align: center;
}

#textPresseInside {
    width: 100%;
    /* position: fixed; */
    height: 130px;
    margin-top: 85px;
}

#linkStyle {
    color: black;
    text-decoration: none;
    font-size: 30px;
}

#thirdContainer {
    width: 100%;
    height: 652px;
    background-color: black;
    margin-top: -1px;
    position: relative;
}

#thirdContainerMap {
    width: 100%;
    /* position: relative; */
    height: 700px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/mappe.png);
    margin-left: 0%;
    margin-top: -128px;
}

#footerBackground {
    width: 100%;
    margin-top: -1px;
    height: 1000px;
    background-size: cover;
    background-image: url(../img/fridge_footer_banner.png);
    background-position: center;
}

#footerBackgroundText {
    width: 66%;
    height: 100px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 17%;
    margin-top: 70px;
}

#followUsIcons {
    margin-left: 46.5%;
    width: 28%;
    margin-top: 390px;
    position: absolute;
    height: 30px;
}

#navbar-brand {
    margin-right: 16px;
    height: 15px;
}

#copyright {
    width: 30%;
    height: 20px;
    color: black;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 6%;
    position: absolute;
}

#agbBottom {
    margin-left: 77%;
    margin-top: 30px;
    font-size: 18px;
    position: absolute;
    height: 25px;
}

#agbBottomUl {
    display: flex;
    color: black;
    list-style: none;
    text-decoration: none;
}

.aColor {
	color: black;
	margin-left: 10px;
}
/**/
.trattino {
    margin: -2px 0 10px;
    margin-left: 10px;
}

#lightBluFooter {
	background: -webkit-gradient(linear, right top, left bottom, from(#36b4e4), to(#6fb342));
	height: 80px;
}

@media only screen and (min-width: 1441px) {

p {
    font-size: 18px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0;
    margin-left: -46px;
}

.navbar-nav {
    font-size: 18px;
    margin-right: -40px;
}

#firstBackground {
    width: 100%;
    height: 1160px;
    margin-top: 80px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(../img/infos_fridge_banner.png);
}

#firstBackgroundTextBottom {
    width: 46%;
    height: 140px;
    text-align: center;
    margin-top: 1092px;
    margin-left: 27%;
    position: absolute;
    color: white;
}

#fridgeLogoLeft {
    width: 215px;
    height: 185px;
    margin-top: 20px;
    position: absolute;
    margin-left: 0%;
}

#fridgeLogoSize {
	width: 100%;
	height: 100%;
}

#ticketLogoRight {
    width: 435px;
    height: 210px;
    position: fixed;
    margin-left: 74%;
    margin-top: -10px;
}

#thirdContainer {
    width: 100%;
    height: 1240px;
    background-color: black;
}

#thirdContainerMap {
    width: 100%;
    height: 1240px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/mappe.png);
    margin-left: 0%;
    margin-top: -1px;
}

#followUsIcons {
    margin-left: 48%;
    margin-top: 635px;
    position: absolute;
    width: 24%;
    height: 58px;
}

#footerBackground {
    width: 100%;
    height: 1640px;
    background-size: cover;
    background-image: url(../img/fridge_footer_banner.png);
    background-position: center;
}

#footerBackgroundText {
    width: 66%;
    height: 100px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 17%;
    margin-top: 136px;
}

#copyright {
    width: 30%;
    height: 20px;
    color: black;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 4%;
    position: absolute;
}

#agbBottom {
    margin-left: 80.5%;
    margin-top: 30px;
    font-size: 18px;
    position: absolute;
    height: 25px;
}




}

@media only screen and (min-width: 1680px) {

#ticketLogoRight {
    width: 417px;
    height: 210px;
    position: fixed;
    margin-left: 79%;
    margin-top: -10px;
}

#followUsIcons {
    margin-left: 47.5%;
    margin-top: 633px;
    position: absolute;
    width: 28%;
    height: 58px;
}

iframe {
    border: 0;
    width: 100%;
    height: 350px;
}

#agbBottom {
    margin-left: 82.5%;
    margin-top: 30px;
    font-size: 18px;
    position: absolute;
    height: 25px;
}

#agbBottom {
    margin-left: 82.5%;
    margin-top: 30px;
    font-size: 18px;
    position: absolute;
    height: 25px;
}
    
}


@media only screen and (min-width: 1920px) {

#ticketLogoRight {
    width: 430px;
    height: 210px;
    position: fixed;
    margin-left: 80%;
    margin-top: -10px;
}

.iconsSize {
    width: 40px;
    height: 40px;
    margin-top: -10px;
}

#fridgeLogoLeft {
    width: 245px;
    height: 215px;
    margin-top: 20px;
    position: absolute;
    margin-left: 1%;
}

#followUsIcons {
    margin-left: 0%;
    margin-top: 650px;
    position: absolute;
    width: 100%;
    height: 58px;
    text-align: center;
}

#agbBottom {
    margin-left: 84%;
    margin-top: 30px;
    font-size: 18px;
    position: absolute;
    height: 25px;
}

}

@media only screen and (min-width: 2140px) {

#ticketLogoRight {
    width: 479px;
    height: 210px;
    position: fixed;
    margin-left: 82%;
    margin-top: -10px;
}

    
}

@media only screen and (min-width: 2560px) {

#ticketLogoRight {
    width: 395px;
    height: 210px;
    position: fixed;
    margin-left: 85%;
    margin-top: -10px;
}

#agbBottom {
    margin-left: 86.5%;
    margin-top: 30px;
    font-size: 18px;
    position: absolute;
    height: 25px;
}

#fridgeLogoLeft {
    width: 245px;
    height: 215px;
    margin-top: 20px;
    position: absolute;
    margin-left: 1%;
}

#followUsIcons {
    margin-left: 48%;
    margin-top: 634px;
    position: absolute;
    width: 28%;
    height: 58px;
}

iframe {
    border: 0;
    width: 100%;
    height: 400px;
}
    
}

@media only screen and (max-width: 1024px) {

p {
    font-size: 12px;
}

h4 {
	font-size: 12px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-left: -2%;
}

.navbar-nav {
    float: right;
    margin: 0;
    margin-right: -37px;
    font-size: 14px;
}

#firstBackground {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(../img/infos_fridge_banner.png);
}

#firstBackgroundTextBottom {
    width: 76%;
    height: 160px;
    text-align: center;
    margin-top: 420px;
    margin-left: 12%;
    position: absolute;
    color: white;
}

#fridgeLogoLeft {
    width: 130px;
    height: 100px;
    margin-top: 10px;
    position: absolute;
    margin-left: 3.5%;
}

#fridgeLogoSize {
	width: 100%;
	height: 100%;
}

#ticketLogoRight {
    width: 159.5px;
    height: 88px;
    position: fixed;
    margin-left: 85%;
    margin-top: -4px;
}

#secondBackground {
    width: 100%;
    height: 334px;
    background-color: black;
    border-top: black;
    margin-top: -1px;
}

#thirdContainer {
    width: 100%;
    height: 350px;
    background-color: black;
    margin-top: -34px;
}

#thirdContainerMap {
    width: 100%;
    height: 435px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/mappe.png);
    margin-left: 0%;
    margin-top: -76px;
}

#footerBackground {
    width: 100%;
    height: 714px;
    background-size: cover;
    background-image: url(../img/fridge_footer_banner_mob.png);
    background-position: center;
}

.ss_button {
    background-color: #36b4e4;
    border: 1px solid black;
    cursor: pointer;
    padding: 25px;
    color: black;
    font-size: 14px;
}

#footerBackgroundText {
    width: 66%;
    height: 100px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 17%;
    margin-top: 10px;
}

#followUsIcons {
    margin-left: 46.5%;
    width: 40%;
    margin-top: 290px;
    position: absolute;
    height: 30px;
}

#copyright {
    width: 30%;
    height: 20px;
    color: black;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 6%;
    position: absolute;
}

#agbBottom {
    margin-left: 71%;
    margin-top: 30px;
    font-size: 18px;
    position: absolute;
    height: 25px;
}

#agbBottomUl {
    display: flex;
    color: black;
    list-style: none;
    text-decoration: none;
}

.iconsSize {
    width: 25px;
    height: 25px;
    margin-top: -2px;
}

.trattino {
    display: none;
}

}

@media only screen and (max-width: 768px) {


.trattino {
    display: none;
}

p {
    font-size: 12px;
}

h2 {
    font-size: 20px;
}

iframe {
    width: 100%;
    border: 0;
    height: 256px;
}

#iconsSize {
    width: 30px;
    height: 30px;
}

.iconsSize {
    width: 20px;
    height: 20px;
}

#linkStyle {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.navbar, .navbar-default {
    height: 65px;
}

.navbar-header {
    height: 40px;
    margin-top: 0.5%;
}

.ss_button {
    background-color: #36b4e4;
    border: 2px solid black;
    cursor: pointer;
    padding: 18px;
    color: black;
    font-size: 12px;
}

.navbar-nav {
    float: right;
    margin: 0;
    font-size: 12px;
    margin-right: -22px;
}

.container-fluid {
    width: 90%;
    margin-top: 8px;
}

#firstBackground {
    width: 100%;
    height: 450px;
    margin-top: 65px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(../img/infos_fridge_banner.png);
}

#firstBackgroundTextBottom {
    width: 95%;
    height: 160px;
    text-align: center;
    margin-top: 388px;
    margin-left: 2.5%;
    position: absolute;
    color: white;
}

#fridgeLogoLeft {
    width: 130px;
    height: 100px;
    margin-top: 10px;
    position: absolute;
    margin-left: 2%;
}

#ticketLogoRight {
    width: 159.5px;
    height: 88px;
    position: fixed;
    margin-left: 80%;
    margin-top: -4px;
}

#fridgeLogoSize {
	width: 100%;
	height: 100%;
}

#followUsIcons {
    margin-left: 46%;
    width: 13%;
    margin-top: 188px;
    position: absolute;
}

#secondBackground {
    width: 100%;
    height: 279px;
    background-color: black;
    border-top: black;
    margin-top: -1px;
}

#textPresse {
    width: 90%;
    background-color: white;
    height: 300px;
    margin-top: -30px;
    margin-left: 5%;
    position: absolute;
    text-align: center;
}

#textPresseInside {
    width: 100%;
    /* position: fixed; */
    height: 100px;
    margin-top: 100px;
}

#thirdContainer {
    width: 100%;
    height: 420px;
    background-color: black;
    margin-top: -34px;
}

#thirdContainerMap {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/mappe.png);
    margin-left: 0%;
    margin-top: -58px;
}

#agbBottom {
    margin-left: 71%;
    margin-top: 23.5px;
    font-size: 12px;
    position: absolute;
    height: 18px;
}

#agbBottomUl {
    display: flex;
    color: black;
    list-style: none;
    text-decoration: none;
}

#copyright {
    width: 30%;
    height: 20px;
    color: black;
    font-size: 12px;
    margin-top: 24.5px;
    margin-left: 5%;
    position: absolute;
}

#footerBackground {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-image: url(../img/fridge_footer_banner_mob.png);
    background-position: center;
}

#footerBackgroundText {
    width: 83%;
    height: 110px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 8.5%;
    margin-top: -13px;
}

#lightBluFooter {
    background-color: #36acd6;
    height: 65px;
}

}

@media only screen and (max-width: 568px) {

.trattino {
    display: initial;
}

#agbBottom {
    margin-left: 62%;
    margin-top: 23.5px;
    font-size: 12px;
    position: absolute;
    height: 18px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 8px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-toggle {
    border-color: black;
}

.navbar-nav {
    float: right;
    margin: 0;
    background-color: #6fb342;
    font-size: 12px;
    margin-right: 4px;
    margin-top: 13px;
}




}

@media only screen and (max-width: 425px) {

p{
    font-size: 10px;
}

h4 {
	font-size: 10px;
}

#navbar-brand {
	margin-right: 30px;
}

.navbar-brand {
	display: none;
}

#fridgeLogoSize {
	display: none;
}

#iconsSize {
    width: 73px;
    margin-top: -3px;
    margin-right: 8%;
    height: 53px;
}

#mobileLogoVersion {
    display: initial;
    float: right;
    margin-right: 33px;
}

#ss_menu {
    width: 100%;
    text-align: center;
    margin-left: 0%;
    margin-top: -8px;
    position: absolute;
}

.ss_button { 
    background-color: #36b4e4;
    border: 2px solid black;
    cursor: pointer;
    padding: 25px;
    color: black;
    font-size: 10px;
}
    
.ss_content {
    background-color: white;
    display: none;
    padding: 10px;
    text-align: left;
}

.navbar-default .navbar-toggle {
    border-color: black;
    float: left;
    margin-left: 32px;
    margin-top: 6px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-top: 14px;
    float: left;
    margin-left: -90px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
     background-color: transparent; 
}

.nav>li {
    position: relative;
    display: block;
    margin-top: -12px;
    background-color: #6fb342;
    width: 112%;
    margin-left: -15%;
    text-align: left;
}

.navbar-nav {
    float: left;
    margin: 0;
    margin-top: 12px;
    margin-right: -8px;
    font-size: 16px;
}

.container-fluid {
    width: 100%;
    margin-top: 8px;
}

#ticketLogoRight {
    width: 135px;
    height: 80px;
    position: fixed;
    margin-left: 69%;
    margin-top: 0px;
}

#fridgeLogoLeft {
    width: 80px;
    height: 80px;
    margin-top: 24px;
    position: absolute;
    margin-left: 4%;
}

#firstBackground {
    width: 100%;
    height: 240px;
    margin-top: 65px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(../img/infos_fridge_banner.png);
}

#firstBackgroundTextBottom {
    width: 95%;
    height: 160px;
    text-align: center;
    margin-top: 234px;
    margin-left: 2.5%;
    position: absolute;
    color: white;
}

#secondContainer {
    width: 100%;
    height: 500px;
    background-color: black;
    margin-top: -20px;
    position: relative;
}

#thirdContainer {
    width: 100%;
    height: 306px;
    background-color: black;
    margin-top: -35px;
}

#thirdContainerMap {
    width: 100%;
    height: 263px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/mappe.png);
    margin-left: 0%;
    margin-top: 0px;
}

.ss_button {
    background-color: #36b4e4;
    border: 2px solid black;
    cursor: pointer;
    padding: 25px;
    color: black;
    width: 100%;
    font-size: 9px;
    height: 62px;
}

#imgFirstList {
    width: 100%;
    height: 156px;
    background-image: url(../img/insideInfoDiv.jpg);
    background-position: center;
    background-size: cover;
}

#footerBackground {
    width: 100%;
    height: 310px;
    background-size: cover;
    background-image: url(../img/fridge_footer_banner_mob.png);
    background-position: center;
}

#footerBackgroundText {
    width: 83%;
    height: 110px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 8.5%;
    margin-top: -66px;
}

#followUsIcons {
    margin-left: 43.5%;
    width: 13%;
    margin-top: 115px;
    position: absolute;
}

.iconsSize {
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-right: -24px;
}

#agbBottom {
    margin-left: 52%;
    margin-top: 27px;
    font-size: 11px;
    position: absolute;
    height: 25px;
}

#copyright {
    width: 32%;
    height: 20px;
    color: black;
    font-size: 11px;
    margin-top: 27.5px;
    margin-left: 9%;
    position: absolute;
}


}

@media only screen and (max-width: 375px) {

#linkStyle {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-top: 14px;
    float: left;
    margin-left: -91px;
}

#ticketLogoRight {
    width: 127px;
    height: 80px;
    position: fixed;
    margin-left: 66%;
    margin-top: 0px;
}

#mobileLogoVersion {
    display: initial;
    float: right;
    margin-right: 30px;
}

h2 {
    font-size: 16px;
}

#agbBottom {
    margin-left: 48%;
    margin-top: 27px;
    font-size: 10px;
    position: absolute;
    height: 25px;
}

#footerBackgroundText {
    width: 91%;
    height: 110px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 4.5%;
    margin-top: -66px;
}

#firstBackgroundTextBottom {
    width: 95%;
    height: 160px;
    text-align: center;
    margin-top: 234px;
    margin-left: 2.5%;
    position: absolute;
    color: white;
}

#textPresseInside {
    width: 100%;
    /* position: fixed; */
    height: 84px;
    margin-top: 108px;
}

#followUsIcons {
    margin-left: 43%;
    width: 36%;
    margin-top: 120px;
    position: absolute;
}

#copyright {
    width: 36%;
    height: 20px;
    color: black;
    font-size: 10px;
    margin-top: 27.5px;
    margin-left: 13%;
    position: absolute;
}


}

@media only screen and (max-width: 320px) {

h4 {
	font-size: 9px;
}

#mobileLogoVersion {
    display: initial;
    float: right;
    margin-right: 25px;
}

#linkStyle {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

h2 {
    font-size: 14px;
    margin-bottom: 17px;
}

.iconsSize {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-right: -24px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-top: 15px;
    float: left;
    margin-left: -84px;
}

.navbar-default .navbar-toggle {
    border-color: black;
    float: left;
    margin-left: 13px;
    margin-top: 6px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
     background-color: transparent; 
}

.nav>li {
    position: relative;
    display: block;
    margin-top: -12px;
    background-color: #6fb342;
    width: 113%;
    margin-left: -6%;
    text-align: left;
}

#firstBackgroundTextBottom {
    width: 95%;
    height: 178px;
    /* text-align: center; */
    margin-top: 200px;
    margin-left: 2.5%;
    position: absolute;
    color: white;
}

#thirdContainer {
    width: 100%;
    height: 325px;
    background-color: black;
    margin-top: -35px;
}

#thirdContainerMap {
    width: 100%;
    height: 269px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/mappe.png);
    /* margin-left: 1%; */
    margin-top: 0px;
    /* position: absolute; */
}

#footerBackgroundText {
    width: 91%;
    height: 110px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 4.5%;
    margin-top: -96px;
}

#ticketLogoRight {
    width: 107px;
    height: 60px;
    position: fixed;
    margin-left: 67%;
    margin-top: 0px;
}

#iconsSize {
    width: 63px;
    margin-top: 4px;
    margin-right: 8%;
    height: 43px;
}

#copyright {
    width: 39%;
    height: 20px;
    color: black;
    font-size: 10px;
    margin-top: 27px;
    margin-left: 7%;
    position: absolute;
}

#agbBottom {
    margin-left: 45%;
    margin-top: 27px;
    font-size: 10px;
    position: absolute;
    height: 25px;
}

#followUsIcons {
    margin-left: 42%;
    width: 36%;
    margin-top: 120px;
    position: absolute;
}

}

