body {
	font-family: 'Josefin Sans', sans-serif;
	color: black;
}

#container {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.navbar, .navbar-default {
    height: 80px;
}

.container-fluid {
    width: 90%;
    margin-top: 15px;
}

.navbar-nav {
    float: right;
    margin: 0;
}

.iconsSize {
    width: 40px;
    height: 40px;
    margin-top: -10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color: #34abda;
}

.navbar-default {
    background-color: #34abda;
    /* border-color: black; */
}

#firstBackground {
	width: 100%;
	height: 750px;
	margin-top: -21px;
	background-position: center;
	background-size: cover;
	position: relative;
	background-image: url("../img/fridge_banner.png");
}

#firstBackgroundTextBottom {
    width: 85%;
    height: 84px;
    text-align: center;
    margin-top: 715px;
    margin-left: 7.5%;
    position: absolute;
    color: white;
}

#fridgeLogoLeft {
    width: 15%;
    height: 153px;
    background-image: url(../img/icons/fridge_logo.png);
    background-position: center;
    background-size: cover;
    margin-top: 110px;
    position: absolute;
    margin-left: 4%;
}

#ticketLogoRight {
    width: 26%;
    height: 180px;
    position: fixed;
    margin-left: 74%;
    margin-top: 95px;
}

#ticketLogoRightSize {
	width: 100%;
	height: 100%;
}

#secondBackground {
    width: 100%;
    height: 650px;
    background-color: black;
    border-top: black;
    margin-top: -1px;
}

#secondBackgroundInsideLeft {
	width: 28%;
	height: 500px;
	float: left;
	margin-top: 75px;
	background-size: cover;
	background-image: url("../img/prova.jpg");
	background-position: center;
}
 
#secondBackgroundInsideCenter {
	width: 44%;
	height: 500px;
	float: left;
	margin-top: 75px;
}

#iFrame {
	border: none;
}

#secondBackgroundInsideRight {
	width: 28%;
	height: 500px;
	float: left;
	margin-top: 75px;
	background-size: cover;
	background-image: url("../img/prova2.jpeg");
	background-position: center;
}

#thirdContainer {
	width: 100%;
	height: 500px;
	border: 1px solid grey;
	background-color: black;
}

#thirdContainerMap {
    width: 54%;
    height: 496px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/mappe.png);
    margin-left: 23%;
}

#footerBackground {
	width: 100%;
	height: 1000px;
	background-size: cover;
	background-image: url("../img/fridge_footer_banner.png");
	background-position: center;
}










