body {
	font-family: 'Josefin Sans', sans-serif;
	color: black;
}

h4 {
    font-size: 18px;
    line-height: 24px;
}

#container {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.navbar, .navbar-default {
    height: 80px;
}

.container-fluid {
    width: 90%;
    margin-top: 15px;
}

.navbar-nav {
    float: right;
    margin: 0;
    font-size: 18px;
}

.iconsSize {
    width: 40px;
    height: 40px;
    margin-top: -10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color: #36acd6;
}

.navbar-default {
    background-color: #36acd6;
    border-color: #36acd6;
}

#firstBackground {
	width: 100%;
	height: 750px;
	margin-top: 80px;
	background-position: center;
	background-size: cover;
	position: relative;
	background-image: url("../img/fridge_banner.png");
}

#firstBackgroundTextBottom {
    width: 76%;
    height: 141px;
    text-align: center;
    margin-top: 686px;
    margin-left: 12%;
    position: absolute;
    color: white;
}

#fridgeLogoLeft {
    width: 16%;
    height: 164px;
    background-image: url(../img/icons/fridge_logo.png);
    background-position: center;
    background-size: cover;
    margin-top: 30px;
    position: absolute;
    margin-left: 4%;
}

#ticketLogoRight {
    width: 26%;
    height: 180px;
    position: fixed;
    margin-left: 74%;
    margin-top: 30px;
}

#ticketLogoRightSize {
	width: 100%;
	height: 100%;
}

#secondBackground {
    width: 100%;
    height: 650px;
    background-color: black;
    border-top: black;
    margin-top: -1px;
}

#secondBackgroundInsideLeft {
	width: 28%;
	height: 500px;
	float: left;
	margin-top: 135px;
	background-size: cover;
	background-image: url("../img/homeLeft.jpeg");
	background-position: center;
}
 
#secondBackgroundInsideCenter {
	width: 44%;
	height: 500px;
	float: left;
	margin-top: 135px;
}

#iFrame {
	border: none;
}

#secondBackgroundInsideRight {
	width: 28%;
	height: 500px;
	float: left;
	margin-top: 135px;
	background-size: cover;
	background-image: url("../img/homeRight.jpeg");
	background-position: center;
}

#thirdContainer {
	width: 100%;
	height: 500px;
	border: 1px solid grey;
	background-color: black;
}

#thirdContainerMap {
    width: 54%;
    height: 496px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/mappe.png);
    margin-left: 23%;
}

#footerBackground {
	width: 100%;
	height: 1000px;
	background-size: cover;
	background-image: url("../img/fridge_footer_banner.png");
	background-position: center;
}

#footerBackgroundText {
    width: 66%;
    height: 100px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 17%;
    margin-top: 70px;
}

#followUsIcons {
    margin-left: 45%;
    margin-top: 310px;
    position: absolute;
}

#copyright {
    width: 30%;
    height: 20px;
    color: black;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 6%;
    position: absolute;
}

#agbBottom {
    margin-left: 78%;
    margin-top: 30px;
    font-size: 18px;
    position: absolute;
    height: 25px;
}

#agbBottomUl {
    display: inline-flex;
    color: black;
    list-style: none;
    text-decoration: none;
}

.aColor {
	color: black;
	margin-left: 10px;
}

.trattino {
    margin: -2px 0 10px;
    margin-left: 10px;
}

#lightBluFooter {
	background-color: #36acd6;
	height: 80px;
}

@media only screen and (min-width: 1441px) {

#firstBackground {
    width: 100%;
    height: 1160px;
    margin-top: 80px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(../img/fridge_banner.png);
}

#firstBackgroundTextBottom {
    width: 46%;
    height: 140px;
    text-align: center;
    margin-top: 1126px;
    margin-left: 27%;
    position: absolute;
    color: white;
}

#fridgeLogoLeft {
    width: 14%;
    height: 274px;
    background-image: url(../img/icons/fridge_logo.png);
    background-position: center;
    background-size: cover;
    margin-top: 80px;
    position: absolute;
    margin-left: 4%;
}

#ticketLogoRight {
    width: 26%;
    height: 300px;
    position: fixed;
    margin-left: 74%;
    margin-top: 80px;
}

#thirdContainer {
	width: 100%;
	height: 580px;
	border: 1px solid grey;
	background-color: black;
}

#thirdContainerMap {
    width: 54%;
    height: 580px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/mappe.png);
    margin-left: 23%;
}

#followUsIcons {
    margin-left: 47%;
    margin-top: 550px;
    position: absolute;
    width: 18%;
    height: 58px;
}

#footerBackground {
    width: 100%;
    height: 1640px;
    background-size: cover;
    background-image: url(../img/fridge_footer_banner.png);
    background-position: center;
}

#copyright {
    width: 30%;
    height: 20px;
    color: #6a6a6a;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 6%;
    position: absolute;
}

#agbBottom {
    margin-left: 86%;
    margin-top: 30px;
    font-size: 18px;
    position: absolute;
    height: 25px;
}



}

@media only screen and (max-width: 1024px) {

h4 {
	font-size: 12px;
}

#firstBackground {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(../img/fridge_banner.png);
}

#firstBackgroundTextBottom {
    width: 76%;
    height: 160px;
    text-align: center;
    margin-top: 420px;
    margin-left: 12%;
    position: absolute;
    color: white;
}

#fridgeLogoLeft {
    width: 16%;
    height: 122px;
    background-image: url(../img/icons/fridge_logo.png);
    background-position: center;
    background-size: cover;
    margin-top: 24px;
    position: absolute;
    margin-left: 4%;
}

#ticketLogoRight {
    width: 26%;
    height: 110px;
    position: fixed;
    margin-left: 74%;
    margin-top: 30px;
}

#secondBackgroundInsideLeft {
    width: 28%;
    height: 200px;
    float: left;
    margin-top: 135px;
    background-size: cover;
    background-image: url(../img/homeLeft.jpeg);
    background-position: center;
}

#secondBackgroundInsideCenter {
    width: 44%;
    height: 200px;
    float: left;
    margin-top: 135px;
}

#secondBackgroundInsideRight {
    width: 28%;
    height: 200px;
    float: left;
    margin-top: 135px;
    background-size: cover;
    background-image: url(../img/homeRight.jpeg);
    background-position: center;
}

#secondBackground {
    width: 100%;
    height: 334px;
    background-color: black;
    border-top: black;
    margin-top: -1px;
}

#thirdContainer {
    width: 100%;
    height: 300px;
    border: 1px solid grey;
    background-color: black;
}

#thirdContainerMap {
    width: 54%;
    height: 230px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/mappe.png);
    margin-left: 23%;
    margin-top: 35px;
}

#footerBackground {
    width: 100%;
    height: 714px;
    background-size: cover;
    background-image: url(../img/fridge_footer_banner.png);
    background-position: center;
}

#footerBackgroundText {
    width: 66%;
    height: 100px;
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 17%;
    margin-top: 10px;
}

#followUsIcons {
    margin-left: 43%;
    width: 14%;
    margin-top: 230px;
    position: absolute;
}

#copyright {
    width: 30%;
    height: 20px;
    color: black;
    font-size: 18px;
    margin-top: 665px;
    margin-left: 6%;
    position: absolute;
}

#agbBottom {
    margin-left: 78%;
    margin-top: 665px;
    font-size: 18px;
    position: absolute;
    height: 25px;
}


}






